<style>
  .cover-bg {
    background-color: transparent !important;
    background-image: linear-gradient(
      to bottom,
      #0F3DAB 0%,
      #0F3DAB 33.33%,
      #FFEB00 33.33%,
      #FFEB00 66.66%,
      #009A3D 66.66%,
      #009A3D 100%
    ) !important;
    min-height: 70vh !important;
  }
  .cover-bg h1, .cover-bg .b, .cover-bg p, .cover-bg .f1, .cover-bg .f2, .cover-bg .f3 {
    color: white !important;
    text-shadow: 2px 2px 16px rgba(0,0,0,0.95) !important;
  }
  .bg-black-60, .bg-black-70, .bg-black-80 {
    background-color: transparent !important;
  }
</style>
